# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/?directConnection=true
DB_NAME=radar_combustivel

# Seed Configuration
SEED=42
BATCH_SIZE=5000
N=100000

# Redis Configuration (para próxima etapa)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
